.button
  padding: $swidth * 0.5 $swidth
  border-radius: 4px
  background-color: $buttonDefaultBg
  color: $buttonDefaultColor
  text-align: center
  display: inline-block
  text-decoration: none
  cursor: pointer
  min-width: $swidth * 4
  margin-bottom: $swidth * 0.5

  &:hover
    text-decoration: none

  &:active
    transform: scale(0.9)

  &-primary
    background-color: $primaryButtonBg
    border: 1px solid transparent
    color: $primaryButtonColor
    .icon
      color: $primaryButtonColor
    &:hover
      &:not(.disabled)
        border-color: $primaryButtonBg
        color: $primaryButtonBg
        background-color: $primaryButtonColor
        .icon
          color: $primaryButtonBg
    &.disabled
      background-color: lighten($primaryButtonBg, 25%)

  &-danger
    background-color: $errorColor
    border: 1px solid transparent
    color: $mainBgColor
    .icon
      color: $mainBgColor
    &:hover
      &:not(.disabled)
        border-color: $errorColor
        color: $errorColor
        background-color: $mainBgColor
        .icon
          color: $errorColor
    &.disabled
      background-color: lighten($errorColor, 25%)

  &.disabled
    cursor: not-allowed
    pointer-events: all !important
