.menu-item
  border: 1px solid $machinesListItemBorderColor;
  border-radius: 5px;
  padding: 20px 0 10px 0;
  background-color: white;
  @extends .item-box-shadow;

  &-label,
  &-icon
    display: block !important;
    color: $textColor;

  &-icon
    font-size: 125px;
    margin-bottom: 10px;
