
.devices-list-item
  color: $machinesListItemFontColor;
  border: 1px solid $machinesListItemBorderColor;
  border-radius: 5px;
  background-color: $machinesListItemBg;
  margin-bottom: 10px;
  @extends .item-box-shadow;
  min-width: 275px;
  display: inline-block;
  margin: 0 10px 20px 10px;

  &:last-child
    margin-bottom: 10px;

  &-header
    background-color: $machinesListItemHeaderBg;
    display: flex;
    border-bottom: 1px solid $machinesListItemBorderColor;
    padding: 5px 10px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .icon
      font-size: 20px;
      $parent = selector();

      &-online
        @extends {$parent};
        color: $okColor;

      &-offline
        @extends {$parent};
        color: $errorColor;

  &-body
    padding: 10px;

.props-list
  padding: 0;
  margin: 0;

  a
    color: $linkColor;
    text-decoration: underline;
    &:hover
      text-decoration: none;

  &-item
    list-style-type: none;
    padding-bottom: 4px;
