.item-box-shadow
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);

body
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $mainBgColor;

a
  color: $linkColor;
  text-decoration: none;

  &:hover
    text-decoration: underline;

.message
  font-size: 16px;
  font-weight: bold;
  $parent = selector();

  &-error
    @extends {$parent};
    color: $errorColor;

.list
  padding: 0;
  margin: 0;
  $parent = selector();

  &-plain
    list-style-type: none;
    @extends {$parent};

