<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png" />
        <meta name="msapplication-TileColor" content="#fff" />
        <meta name="msapplication-TileImage" content="/img/favicons/mstile-150x150.png" />
        <meta name="theme-color" content="#fff" />

        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/simple-grid.min.css" />
        <link rel="stylesheet" href="/css/main.min.css" />
        <title>{{ title }}</title>
    </head>

    <body>
        <div id="app">{{{body}}}</div>

        <script type="text/javascript">
            window.machinesInitialString = "{{machine}}{{machines}}";
        </script>

        <script src="/js/bundle.min.js"></script>
    </body>
</html>
