<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Main page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="menu-item">
                <a class="center fas fa-network-wired menu-item-icon" href="/machines"></a>
                <label class="font-heavy center menu-item-label">Machines list</label>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
</div>
