<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="/" title="Homepage">&lt; Back to home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Machines list</h1>
        </div>
    </div>
    <div class="row">
        <machines-list :machines="devices"></machines-list>
    </div>
</div>
