<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="/machines/" title="Machines list">&lt; Back to list</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Machine details</h1>
        </div>
    </div>
    <div class="row">
        <machine-details :machines="devices"></machine-details>
    </div>
</div>
